---
---
#project-title {
  text-align: center;
}

.project-creators {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.project-img {
  display: block;
  position: relative;
  margin: 2em auto;
  max-width: 65%;
  box-shadow: 0 0 1px 6px #8CBEB2;
  border-radius: 0.5em;
}

.project-display {
  margin: auto;
  padding: 2em 1em;
}

@media screen and (min-width: 745px) {
  .project-img {
    max-width: 50%;
  }

  .project-display {
    width: 80%;
  }
}

@media screen and (min-width: 1050px) {
  .project-img {
    max-width: 35%;
  }
}

#project-title {
  color: #F06060;
  font-family: "Jura", "Prompt", "Monda";
  font-size: 3em;
  font-variant: petite-caps;
}

.project-creators {
  color: #F3B562;

  .creator {
    margin: 0 0.3em;
  }
}

#brief {
  display: none;

  + p {
    text-align: center;
    margin: 0 3em;
    margin-bottom: 2em;
    color: #5C4B51;
  }
}

h2 {
  color: black;
  font-family: "Cutive", "Sanchez", "Times New Roman", serif;
  font-size: 1.2em;
  margin-top: 1.5em;

  &:first-letter {
    color: #F3B562;
  }
}

p {
  color: #5C4B51;
  font-family: "Hind Vadodara", "Hind", "Oxygen", sans-serif;
}