---
---

body {
  margin: 0;
  background-color: white;
  height: 100vh;

  font-size: 20px;
}

.ext-link {
  font-style: italic;
  color: black;
  text-decoration: underline 2px #F06060;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #F06060;

  &:hover, &:focus, &:active {
    color: #F06060;
  }
}

.couch-divider {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;

  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }

  &:after {
    content: '';
    position: relative;
    display: inline-block;
    color: black;

    padding: 0 .5em;
    line-height: 1.5em;

    height: 2em;
    width: 3em;
    background: #fcfcfa url("../assets/couch.png") no-repeat 50% 50%;
    background-size: contain;
  }
}

.nav-header {
  z-index: 99;

  line-height: 20px;
  font-size: 1.5em;
  background-color: white;

  position: relative;
  width: 100vw;
  height: 3em;

  box-shadow: 0px 0px 5px #000;
  display: flex;
  
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  // .home-link {
  //   display: flex;
  //   flex-flow: row nowrap;
  //   justify-content: center;

  //   &::before {
  //     content: 'Couch';
  //     display: block;
  //     margin: auto 0;
  //     margin-right: 0.3em;
  //     font-family: Lato;
  //     color: #999;
  //   }

  //   &::after {
  //     content: 'Crew';
  //     display: block;
  //     margin: auto 0;
  //     margin-left: 0.3em;
  //     font-family: Lato;
  //     color: #999;
  //   }
  // }

  #logo {
    width: 2em;
  }

  a.left > span {
    margin-left: auto;
  }

  a.right > span {
    margin-right: auto;
  }

  .nav-link {
    flex: 1;
    display: flex;
    justify-content: center;

    color: white;
    font-weight: bolder;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #9b9b9b;
    margin: 0 1em;

    &:hover {
      color: #9b9b9b;
      -webkit-text-stroke-width: 0;
      text-decoration: none;
    }
  }
}