---
---

<!doctype html>
<html lang="en">
  <head>
    {% include html-head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/home.css">
  </head>
  <body>

    <div class="couch-crew-welcome">
      <h1 class="welcome-title">Couch Crew</h1>

      <img class="welcome-bg" src="{{ site.baseurl }}/assets/class.jpg" alt="Group picture of students in the class" />
    </div>

    <div class="about">
      <!-- pic of the couch? -->
      <p>
        <em>Couch</em> <em>Crew</em> 
        is Kenneth Sun's individual project for The Incubator class at Novi High School.
      </p>

      <p>
        The full source code for the website, all assets, 
        and all project files (in the form of Markdown files) are publicly hosted on 
        <a class='ext-link' target='_blank' href='https://github.com/novi-incubator/couch-crew'>
          Github.
        </a>
      </p>

      <p>
        You can find The Incubator elsewhere on the Internet at these places:
        <a class='ext-link' target='_blank' href="https://www.instagram.com/noviincubator/">Instagram</a>
        <a class='ext-link' target='_blank' href="https://www.tiktok.com/@noviincubator">Tiktok</a>
        <a class='ext-link' target='_blank' href="https://twitter.com/noviincubator">
          Twitter
        </a>
      </p>

      <hr class="couch-divider brief--intro" />

      <div class="intro">
        <p>
          Displayed on this website are pictures from the <span>2021&ndash;2022</span> class,
          and each student is tagged with a link to their individual project.
        </p>

        <p>
          If your screen is small (like on a mobile device), 
          you can pan and zoom into images to get a better view.
          Happy browsing!
        </p>
      </div>
    </div>

    <hr class="couch-divider intro--pic1" />

    {% assign pics = site.projects | group_by: "pic" | where_exp: "item", "item.name != ''" | sort: "name" %}
    {% for pic in pics %}
      {% assign up_proj = pic.items | where: "orientation", "up" %}
      {% assign down_proj = pic.items | where: "orientation", "down" %}
      <div class="pan-container">
        <div class="picture-container">
          <img
          class="background"
          src="{{ site.baseurl }}/assets/class_{{ pic.name }}.jpg" />
          {% for project in pic.items %}
            {% if project.orientation == "up" %}
              {% for pos in project.pos %}
                <a 
                class="tag up"
                style="
                  left: {{ pos[0] }};
                  top: {{ pos[1] }};
                  background-image: url('{{ site.baseurl }}/assets/{{ project.url | split: '/' | second }}.jpg');"
                href="{{ site.baseurl }}/{{ project.url | split: '/' | second }}">
                </a>
              {% endfor %}
            {% elsif project.orientation == "down" %}
              {% for pos in project.pos %}
                <a 
                class="tag down"
                style="
                  left: {{ pos[0] }};
                  top: {{ pos[1] }};
                  background-image: url('{{ site.baseurl }}/assets/{{ project.url | split: '/' | second }}.jpg');"
                href="{{ site.baseurl }}/{{ project.url | split: '/' | second }}">
                </a>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <hr class="couch-divider pic-{{ pic.name }}" />
    {% endfor %}
  </body>
</html>
