<nav class="nav-header">
  <!-- <div class="socials">
    <a class="social-link" href="https://twitter.com/noviincubator" target="_blank">
      Twitter
    </a>

    <a class="social-link" href="https://www.tiktok.com/@noviincubator" target="_blank">
      Tiktok 
    </a>

    <a class="social-link" href="https://www.instagram.com/noviincubator/" target="_blank">
      Instagram
    </a>
  </div> -->


  <a
  class="nav-link left"
  href='{{ site.baseurl }}/archive'>
    <span>Browse</span>
  </a>

  <a class='home-link' href='{{ site.baseurl }}/'>
    <img id='logo' src="{{ site.baseurl }}/assets/couch.png" alt="Couch" />
    <!-- TODO: couch crew svg -->
  </a>

  <a
  class="nav-link right"
  href='{{ site.baseurl }}/about'>
    <span>About</span>
  </a>

  <!-- <div class="site-nav">
    <a
    class="nav-link"
    href='{{ site.baseurl }}/archive'>
      Browse Projects
    </a>

    <a
    class="nav-link"
    href='{{ site.baseurl }}/about'>
      About
    </a>
  </div> -->
</nav>
