<nav class="nav-header">
  <a class="social-link" href="https://twitter.com/noviincubator" target="_blank">
    Twitter
  </a>

  <a class="social-link" href="https://www.tiktok.com/@noviincubator" target="_blank">
    Tiktok 
  </a>

  <a class="social-link" href="https://www.instagram.com/noviincubator/" target="_blank">
    Instagram
  </a>

  <a class='home-link' href='{{ site.baseurl }}/'>
    Couch Crew
    <!-- TODO: couch crew svg -->
  </a>

  <a
  class="nav-link"
  href='{{ site.baseurl }}/archive'>
    Browse Projects
  </a>

  <a
  class="nav-link"
  href='{{ site.baseurl }}/about'>
    About
  </a>
</nav>
