<!DOCTYPE html>
<html>
  <head>
    {% include html-head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/project.css">
  </head>
  <body>
    <div class='project-display'>
      <div class="project-meta">
        <h1 id='project-title'>{{ page.title }}</h1>

        <div class="project-creators">
          {% for creator in page.creators %}
            <span class="creator">{{ creator }}</span>
          {% endfor %}
        </div>

        <img
        class="project-img"
        src="{{ site.baseurl }}/assets/{{ page.url | split: '/' | second }}.jpg" />
      </div>

      <div class='project-content'>
        {{ content }}
      </div>

      <hr class="couch-divider content--end" />
    </div>
  </body>
</html>