<!DOCTYPE html>
<html>
  <head>
    {% include html-head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/project.css">
  </head>
  <body>
    {% include nav.html %}
    <div class='project-display'>
      <div class="project-title">
        <div id='project-name'>{{ page.name }}</div>

        <div id="project-creators">
          {% for creator in page.creators %}
            <span class="creator">{{ creator }}</span>
          {% endfor %}
        </div>
      </div>

      <img
      src="banner.png"
      alt="{{ page.banner_alt }}"
      class='project-banner' />

      <div class='project-writeup'>
        {{ content }}
      </div>
    </div>
  </body>
</html>