<!DOCTYPE html>
<html>
  <head>
    {% include html-head.html %}
  </head>
  <body>
    {% include nav.html %}
    <div class='project-display'>
      <div class="project-title">
        <div id='project-name'>{{ page.name }}</div>

        <div id="project-creators">
          {% for creator in page.creators %}
            <span class="creator">{{ creator }}</span>
          {% endfor %}
        </div>
      </div>

      <img
      src="banner.png"
      alt="{{ page.banner_alt }}"
      class='project-banner' />

      <div class='project-writeup'>
        {{ content }}
      </div>
    </div>
  </body>
</html>

<style lang="scss">
  nav {
    position: relative;
  }

  .project-display {
    margin: 0 auto;
    margin-bottom: 3em;
    max-width: 50vw;
  }

  .project-title {
    position: relative;
    margin-bottom: 0.5em;
  }

  #project-name {
    position: relative;

    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }

  #project-creators {
    text-align: center;
  }

  .project-banner {
    position: relative;
    margin-bottom: 2em;
  }

  img {
    width: 100%;
    object-fit: cover;
  }
</style>